<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta http-equiv="Content-Language" content="zh-CN"/> 
    <title>{% block title %}{{ settings["blog_title"] | e }}{% endblock  %}</title>
    <link rel="stylesheet" href="/static/blog.css" type="text/css"/>
    <link rel="alternate" href="http://feeds.feedburner.com/yao-blog" type="application/atom+xml" title="{{ settings["blog_title"] | e }}"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    {% block head %}{% endblock  %}
  </head>
  <body>
    <div id="body">
      <div id="header">
	      <div class="search" >
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<input type="hidden" name="domains" value="yao-blog.appspot.com"></input>
<label for="sbi" style="display: none">输入您的搜索字词</label>
<input type="text" name="q" size="31" maxlength="255" value="" id="sbi"></input>
<input type="submit" name="sa" value="Google 搜索" id="sbb"></input><br />
<input type="radio" name="sitesearch" value="" checked id="ss0"></input>
<label for="ss0" title="搜索网络"><font size="-1" color="#ffffff">Web</font></label></td>
<input type="radio" name="sitesearch" value="yao-blog.appspot.com" id="ss1"></input>
<label for="ss1" title="搜索 yao-blog.appspot.com"><font size="-1" color="#ffffff">yao-blog.appspot.com</font></label>
<input type="hidden" name="client" value="pub-2558398986662656"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="ie" value="UTF-8"></input>
<input type="hidden" name="oe" value="UTF-8"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1"></input>
<input type="hidden" name="hl" value="zh-CN"></input>
</form>
<!-- SiteSearch Google -->
      
	      </div>
	<div class="title"><a href="/">Yao's Blog</a></div>
	      <div class="menu">
		      <span><a href="http://feeds.feedburner.com/yao-blog">订阅(atom)</a></span>
		      <span><a href="/archive">存档</a></span>
		      <span><a href="/about">自我介绍</a></span>
	      </div>
      </div>
      <div id="content">{% block body %}{% endblock  %}</div>
      <div id="footer">
	&copy;{{ datetime.datetime.utcnow().year }} Yao Chunlin - <a href="/about">关于</a> - <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons license</a>
	{% if users.get_current_user() %}
	     - <a href="/compose">写文章</a>
	     - <a href="{{ users.create_logout_url(web.ctx.fullpath.encode('utf-8')) }}">离开</a>
    {% else %}
    	 - <a href="{{ users.create_login_url(web.ctx.fullpath.encode('utf-8')) }}">登录</a>
	{% endif %}
      </div>
    </div>
    {% block bottom %}{% endblock %}
    {% if not settings.debug %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1999219-7");
pageTracker._trackPageview();
} catch(err) {}</script>
    {% endif %}
  </body>
</html>
